<<<<<<< Updated upstream
﻿@{
    ViewData["Title"] = "Home Page";
=======
﻿@model TSD2491_oblig1_253793.Models.MatchingGameModel
@{
    ViewData["Title"] = "Home Page";
    <head>
        <style>
            .container {
                width: 400px;
            }

            .button {
                width: 100px;
                height: 100px;
                font-size: 50px;
            }
        </style>
    </head>
>>>>>>> Stashed changes
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<<<<<<< Updated upstream
=======
<div class="container">
    <div class="row">
        @for (var animalNumber = 0; animalNumber < Model.shuffledEmoji.Count; animalNumber++)
        {
            var animal = Model.shuffledEmoji[animalNumber];
            var uniqueDescription = $"Button #{animalNumber}";
            <div class="col-3">
                @using (Html.BeginForm("ButtonClick", "Home", FormMethod.Post))
                {
                    <input type="hidden" name="animal" value="@animal" />
                    <input type="hidden" name="description" value="@uniqueDescription" />
                    <input type="submit" value="@animal" class="button" />
                }
            </div>
        }
    </div>
    <div class="row">
        <h2>Match found: @Model.MatchesFound</h2>
        @if (Model.GameStatus == "Game Running")
        {
            <h3>Game Status: @Model.GameStatus</h3>
        }
        else if (Model.GameStatus == "Game Complete")
        {
            <h3>Game Status: @Model.GameStatus</h3>
        }
    </div>

</div>

>>>>>>> Stashed changes
