@model TSD2491_oblig1_253793.Models.MatchingGameModel

@{
    ViewData["Title"] = "Home Page";
    <head>
    <style>
        .container {
            width: 400px;
        }

        .button {
            width: 100px;
            height: 100px;
            font-size: 50px;
        }
    </style>
    </head>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>TSD2491 – Oblig1</p>
</div>
<div class="container">
    <div class="row">
        @for (var animalNumber = 0; animalNumber < Model.shuffledEmoji.Count; animalNumber++)
        {
            var animal = Model.shuffledEmoji[animalNumber];
            var uniqueDescription = $"Button #{animalNumber}";
            <div class="col-3">
                @using (Html.BeginForm("ButtonClick", "Home", FormMethod.Post))
                {
                    <input type="hidden" name="animal" value="@animal" />
                    <input type="hidden" name="description" value="@uniqueDescription" />
                    <input type="submit" value="@animal" class="button" />
                }
            </div>
        }
    </div>
    <div class="row">
        <h2>Match found: @Model.MatchesFound</h2>
        @if (Model.GameStatus == "Game Running")
        {
            <h3>Game Status: @Model.GameStatus</h3>
        }
        else if (Model.GameStatus == "Game Complete")
        {
            <h3>Game Status: @Model.GameStatus</h3>
        }
    </div>

</div>

@if (Model.MatchesFound == 0)
{
    <form asp-action="RegisterPlayer" method="post">
        <div class="form-group">
            <label for="PlayerName">Enter your name:</label>
            <input type="text" class="form-control" id="PlayerName" name="PlayerName" required>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
}

<div>
    <h3>High Score List</h3>
    <ul>
        @foreach (var player in TSD2491_oblig1_253793.Models.MatchingGameModel.GetHighScoreList().OrderByDescending(p => p.Value))
        {
            <li>@player.Key: @player.Value games played</li>
        }
    </ul>
</div>


